openapi: 3.1.1

info:
  title: Yoomarket API
  version: 1.0.0
  description: |
    Интеграционное API Юмаркет (Yoomarket) предназначено для автоматизации работы магазинов 
    и взаимодействия с платформой в режиме реального времени.

    Интеграционное API позволяет магазинам:

    - получать информацию о своём магазине  
    - управлять заказами  
    - автоматизировать процессы обработки сделок  
    - отправлять статусы и данные покупателям  
    - обмениваться сообщениями в чате  
    - просматривать товары и их параметры

    API используется в CRM, внутренних панелях магазинов, автоматических обработчиках
    заказов, чат-ботах и других сервисах.

    Работа с API выполняется через Bearer-токен, созданный в панели магазина:
    **Мой магазин → Интеграции → API токен**.

    👉 [Создать магазин и получить доступ к панели](https://panel.yoomarket.net)

    Токен привязан к магазину и даёт доступ только в пределах разрешённой интеграции.

    ---
    ### Общие правила работы API

    - Все ответы возвращаются в формате **JSON** в кодировке UTF-8.  
    - Все даты и время передаются в формате **ISO 8601** (например, `2025-12-02T12:34:56Z`).  
    - Пагинация списков реализована через **cursor pagination**  
      (см. схемы `CursorPaginationMeta` и `CursorPaginationLinks`).  
    - Формат ошибок унифицирован и описан в схеме `ErrorResponse`.  
    - Для каждой интеграции действует лимит: **до 120 запросов в минуту**.  

    Рекомендуется кешировать неизменяющиеся данные (справочники, списки товаров),
    а также не запрашивать большие массивы данных чаще, чем это требуется бизнес-логикой.

    ---
    ### Поддержка и предложения

    Мы принимаем предложения по улучшению API, а также оказываем оперативную поддержку  
    через Telegram:

    - Основной канал поддержки: **https://t.me/yoomarket_ads**
    - Группа разработчиков интеграций: **https://t.me/+8OiJ214cbBc4OGUy**

servers:
  - url: https://api.yoo.market/integration/v1
    description: Production

tags:
  - name: Auth
    description: |
      Методы, связанные с авторизацией интеграции.

      Авторизация выполняется через Bearer-токен, созданный в панели магазина:
      **Мой магазин → Интеграции → API токен**.

      Каждый запрос должен содержать заголовок:

          Authorization: Bearer {api_token}

      При успешной авторизации API определяет:

        • магазин, от имени которого выполнен запрос  
        • тип и ID интеграции  
        • активность токена и права доступа  

      Метод `/check` позволяет проверить валидность токена и получить 
      базовую информацию о магазине.

  - name: Orders
    description: |
      Методы для работы с заказами магазина.

      Позволяют получать список заказов, просматривать детали,
      переводить заказ в работу, подтверждать выполнение и оформлять возврат.

      Все операции выполняются от имени магазина, к которому привязан токен.

  - name: Chats
    description: |
      Методы для работы с чатами и сообщениями между магазином и покупателем.

      Через эти методы можно:

      - получать список сообщений в чате  
      - отправлять сообщения от имени магазина  
      - строить собственный интерфейс чата в CRM или панели магазина

  - name: Ads
    description: |
      Методы для работы с объявлениями магазина (реклама, товары, предложения).

      Позволяют:

      - получать список объявлений магазина  
      - просматривать детали отдельного объявления  
      - использовать данные объявлений в собственных интерфейсах и отчётах

paths:
  /check:
    get:
      $ref: "./paths/auth/check.yaml"

  /orders:
    get:
      $ref: "./paths/orders/list.yaml"

  /orders/{order_id}:
    get:
      $ref: "./paths/orders/show.yaml"

  /orders/{order_id}/work:
    post:
      $ref: "./paths/orders/work.yaml"

  /orders/{order_id}/confirm:
    post:
      $ref: "./paths/orders/confirm.yaml"

  /orders/{order_id}/refund:
    post:
      $ref: "./paths/orders/refund.yaml"

  /chats/{chat_id}/messages:
    get:
      $ref: "./paths/chats/messages/list.yaml"

  /chats/{chat_id}/sendMessage:
    post:
      $ref: "./paths/chats/messages/send.yaml"

  /ads:
    get:
      $ref: "./paths/ads/list.yaml"

  /ads/{ad_id}:
    get:
      $ref: "./paths/ads/show.yaml"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: SHA256

  parameters:
    Cursor:
      $ref: "./components/parameters/Cursor.yaml"

  schemas:
    CheckResponse:
      $ref: "./components/schemas/Auth/CheckResponse.yaml"
    ErrorResponse:
      $ref: "./components/schemas/responses/ErrorResponse.yaml"
    OkResponse:
      $ref: "./components/schemas/responses/OkResponse.yaml"

    CursorPaginationMeta:
      $ref: "./components/schemas/common/CursorPaginationMeta.yaml"
    CursorPaginationLinks:
      $ref: "./components/schemas/common/CursorPaginationLinks.yaml"

    Order:
      $ref: "./components/schemas/Orders/Order.yaml"
    OrderListResponse:
      $ref: "./components/schemas/Orders/OrderListResponse.yaml"

    Message:
      $ref: "./components/schemas/Chats/Messages/Message.yaml"
    MessageListResponse:
      $ref: "./components/schemas/Chats/Messages/MessageListResponse.yaml"

    Ad:
      $ref: "./components/schemas/Ads/Ad.yaml"
    AdListResponse:
      $ref: "./components/schemas/Ads/AdListResponse.yaml"

  responses:
    UnauthorizedError:
      $ref: "./components/responses/UnauthorizedError.yaml"
    ForbiddenError:
      $ref: "./components/responses/ForbiddenError.yaml"
    TooManyRequestsError:
      $ref: "./components/responses/TooManyRequestsError.yaml"
    NotFoundError:
      $ref: "./components/responses/NotFoundError.yaml"

security:
  - bearerAuth: []
